.cajabocadillos1
{
border:0px solid black;
width: 20%;
display:inline-block;
border:5px solid black;
border-radius:5px;
margin:auto;
text-align:left;
min-width:200;
vertical-align:top;
margin:5;
background-color:blueviolet;
}

.cajabocadillos2
{
border:0px solid black;
width: 20%;
display:inline-block;
border:5px solid black;
border-radius:5px;
margin:auto;
text-align:left;
min-width:200;
vertical-align:top;
margin:5;
background-color: darkgreen;
}
.cajabocadillos3
{
border:0px solid black;
width: 20%;
display:inline-block;
border:5px solid black;
border-radius:5px;
margin:auto;
text-align:left;
min-width:200;
vertical-align:top;
margin:5;
background-color: orangered;
}
.cajabocadillos4
{
border:0px solid black;
width: 20%;
display:inline-block;
border:5px solid black;
border-radius:5px;
margin:auto;
text-align:left;
min-width:200;
vertical-align:top;
margin:5;
background-color: palevioletred;
}
.precio{
    font-size:30;
    font-weight:bold;
    text-decoration:underline;
    color:white;
    padding-left:10;
    }
.precio1
{
border:0px solid black;
width: 50%;
display:inline-block;
border:0px solid black;
border-radius:10px;
margin:auto;
text-align:center;
min-width:50;
vertical-align:top;
margin-block: 20px;
margin: 20px;
margin-left: 65px;
background-color:yellowgreen;

}

.precio2
{
border:0px solid black;
width: 50%;
display:inline-block;
border:0px solid black;
border-radius:10px;
margin:auto;
text-align:center;
min-width:50;
vertical-align:top;
margin-block: 20px;
margin: 20px;
margin-left: 65px;
background-color:orangered;

}

.precio3
{
border:0px solid black;
width: 50%;
display:inline-block;
border:0px solid black;
border-radius:10px;
margin:auto;
text-align:center;
min-width:50;
vertical-align:top;
margin-block: 20px;
margin: 20px;
margin-left: 65px;
background-color:maroon;

}

.precio4
{
border:0px solid black;
width: 50%;
display:inline-block;
border:0px solid black;
border-radius:10px;
margin:auto;
text-align:center;
min-width:50;
vertical-align:top;
margin-block: 20px;
margin: 20px;
margin-left: 65px;
background-color:blueviolet;

}