body
{
background-image:url("../img/background.jpg")
    
}

.externa
{
border:0px solid black;
width:100%;
margin:auto;
text-align:center;
display:inline-block;
}
#cabecera
{
border:0px solid black;
width:100%;
margin:auto;
text-align:center;
display:inline-block;
}

#cajalogo
{
border:0px solid black;
width:20%;
height:30%;
display:inline-block;
min-width:300;
/* margin-right:1200px; */
}

.intro-text
{
border:0px solid black;
display:inline-block;
width:70%;
text-align: center;
font-size: 45px;
font-style: oblique;
color:burlywood;
border-color: black;
text-shadow: 8px 2px black;
vertical-align: top;
min-width:400px;
}

#columna
{
border:0px solid black;
width:100%;
display:inline-block;
vertical-align:top;
margin: auto;
}

.cajabocadillos
{
border:0px solid black;
width: 20%;
display:inline-block;
border:5px solid black;
border-radius:5px;
margin:auto;
text-align:left;
min-width:200;
vertical-align:top;
margin:5;
background-color: darkgreen;
}
	
.imagenlogo
{
width:60%;

}
.imagen{
float:right;
height:50;
transition: height 0.5s;
}
.imagen:hover
{
height: 165;
}

.titulo 
{
text-align: center;
font-size: 50;
font-style: oblique;
color:chartreuse;
border-color: black;
text-shadow: 8px 2px black;
}
.parrafo
{
font-size:20;  
text-align: justify; 
}

.h1{
font-size:30;
font-weight:bold;
text-decoration:underline;
color:coral;
padding-left:10;
}
.h2
{
font-size: 30px; 
font-family:Arial, Helvetica, sans-serif;
color:chartreuse;
text-shadow: 2px 2px black;
}

#cajaalergenos
{
border:0px solid black;
width:100%;
margin:auto;
margin-top: 20px;
text-align:center;
display:inline-block;
vertical-align: top;
}

#alergenos
{
border:0px solid black;
width:50%;
margin:auto;
margin-top: 5px;
text-align:center;
display:inline-block;
vertical-align: top;
min-width: 300px;
}
#googlemap

{
border:0px solid black;
width:30%;
margin:auto;
margin-top: 5px;
text-align:center;
display:inline-block;
min-width:300px;
vertical-align: top;
}

.imagenalergenos 
{
border:0px solid black;
width:90%;
min-width:300px;
}

/*  links */
a:link {
    color: red;
}

/* visitado */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}