body
{
/* background-image:url("../img/background.jpg") */
    
}

.externa
{
border:0px solid black;
width:auto;
margin:auto;
text-align:center;
display:inline-block;
}

#columna
{
border:0px solid black;
width:auto;
display:inline-block;
text-align:center;
vertical-align: top;

}

.cajabocadillos
{
width:19%;
display:inline-block;
border:5px solid black;
border-radius:10px;
margin:auto;
text-align:left;
min-width:400px;
padding:5;
vertical-align:top;
margin:5;
background-color: darkgreen;
}

.imagen{
float:left;
height:100;
transition: height 0.5s;
}
.imagen:hover
{
height: 250;
}

.intro-text 
{
text-align: center;
font-size: 30px;
font-style: oblique;
color:burlywood;
border-color: black;
text-shadow: 8px 2px black;
}

.titulo 
{
padding-bottom: 50px;
text-align: center;
font-size: 500%;
font-style: oblique;
color:chartreuse;
border-color: black;
text-shadow: 8px 2px black;
}
.parrafo
{
font-size:20;  
text-align: justify; 
}

.h1{
font-size:30;
font-weight:bold;
text-decoration:underline;
color:coral;
padding-left:10;
}
.h2{
font-size: 30px; 
font-family:Arial, Helvetica, sans-serif;
color:chartreuse;
text-shadow: 2px 2px black;
}