td {
    border: white 0px solid;
    
  }

table {
    border: white 0px solid;
    min-width:400px;
    width: 600px;
    height:100%;
  }

.externa
{
border:0px solid black;
height:auto;
width:100%;
margin:auto;
text-align:left;

}

.interna
{
border:0px solid black;
height:auto;
width:50%;
margin:auto;
vertical-align: top;
min-width:400px;

}

#span 
{
color: brown;
font-size: 20px;

}
