.externa
{
border:0px solid black;
height:auto;
width:90%;
margin:auto;
text-align:center;
}
.intro-text 
{
padding-bottom: 50px;
text-align: center;
font-size: 200%;
}
.intro-productos
{  
    text-align: center;
    font-size: 150%;
}
.intro-info
{	
    text-align: left;
    font-size: 100%;	
}
#textalingleft
{
border:0px solid black;
height:auto;
width:95%;
margin:auto;
text-align:left;
font-style:oblique;
}   
#textalingleft2
{
border:0px solid black;
height:auto;
width:95%;
margin:auto;
text-align:left;
font-style:bold;
}           	
.caja
{
border:0px solid black;
width:100%;
height:auto;
display:inline-block;
vertical-align:top;
min-width:400;	
margin:auto;
margin-bottom:20;
}
.cajaproductos
{
border:0px solid black;
width:30%;
height:auto;
display:inline-block;
vertical-align:top;
min-width:400;	
margin:10px
text-align: center;
}

#contenedor
{
border:0px solid black;
width:100%;
height:auto;
display:inline-block;
vertical-align:top;
min-width:400;	
margin:auto;
margin-bottom:20;
}
#cajalogo
{
vertical-align:middle;
margin:auto;width:22%;
border:0px solid black;
display:inline-block;
min-width:300;
}		
.cajalogolateral
{
border:0px solid black;
display:inline-block;
width:77%;
height:auto;
vertical-align:top;
margin-top:50;
margin:auto;
min-width:100;
font-size:40;
}